@model SliderModel
<div class="card-body">
    <input asp-for="SliderId" value="@Model.Id" type="hidden" />
    @await Html.PartialAsync("Table", new DataTablesModel
{
    Name = "catalogue-items-grid",
    UrlRead = new DataUrl("SliderItems", "CatalogueSlider", new RouteValueDictionary { [nameof(Model.SliderItemSearchModel.SliderId)] = Model.Id }),
    UrlDelete = new DataUrl("SliderItemDelete", "CatalogueSlider", null),
    UrlUpdate = new DataUrl("SliderItemEdit", "CatalogueSlider", new RouteValueDictionary { [nameof(Model.SliderItemSearchModel.SliderId)] = Model.Id, [nameof(Model.SliderItemSearchModel.SliderId)] = Model.Id }),
    Length = Model.SliderItemSearchModel.PageSize,
    LengthMenu = Model.SliderItemSearchModel.AvailablePageSizes,
    ColumnCollection = new List<ColumnProperty>
    {

            new ColumnProperty(nameof(SliderItemModel.PictureUrl))
            {
                Title = T("Plugins.Widgets.CatalogueSlider.Fields.Picture").Text,
                Render = new RenderCustom("renderPicturesColumnItemPictureUrl")
            },
            new ColumnProperty(nameof(SliderItemModel.MobilePictureUrl))
            {
                Title = T("Plugins.Widgets.CatalogueSlider.Fields.MobilePicture").Text,
                Render = new RenderCustom("renderMobilePicturesColumnItemMobilePictureUrl")
            },
            new ColumnProperty(nameof(SliderItemModel.DisplayOrder))
            {
                Title = T("Plugins.Widgets.CatalogueSlider.Fields.DisplayOrder").Text,
                Width = "150",
                ClassName = NopColumnClassDefaults.CenterAll,
                Editable = true,
                EditType = EditType.Number
            },

            //new ColumnProperty(nameof(SliderItemModel.Id))
            //{
            //    Title = T("Admin.Common.Edit").Text,
            //    Width = "200",
            //    ClassName =  NopColumnClassDefaults.Button,
            //    Render = new RenderButtonsInlineEdit()
            //},
            new ColumnProperty(nameof(SliderItemModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    Width = "100",
                    ClassName =  NopColumnClassDefaults.Button,
                    Render = new RenderCustom("renderColumnEdit")
                },
            new ColumnProperty(nameof(SliderItemModel.Id))
            {
                Title = T("Admin.Common.Delete").Text,
                Width = "100",
                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                ClassName = NopColumnClassDefaults.Button
            }
        }
})
    @if (ViewBag.RefreshPage == true)
    {
<script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
</script>
}
<script>
        function renderPicturesColumnItemPictureUrl(data, type, row, meta) {
            return '<a href="' + row.PictureUrl + '" target="_blank"><img alt="' + row.PictureId + '" src="' + row.PictureUrl + '" width="150" /></a>';
        }
        function renderMobilePicturesColumnItemMobilePictureUrl(data, type, row, meta) {
            return '<a href="' + row.MobilePictureUrl + '" target="_blank"><img alt="' + row.MobilePictureId + '" src="' + row.MobilePictureUrl + '" width="150" /></a>';
    }
    function renderColumnEdit(data, type, row, meta) {
        return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/CatalogueSlider/SliderItemEdit/")' + data + '?btnId=btnRefresh&formId=catalogue-slider-form\', 800, 400, true); return false;\" class="btn btn-default"><i class="fas fa-pencil-alt"></i>@T("Admin.Common.Edit").Text</button>';
            }
        $(document).ready(function () {

            $('#btnRefresh').click(function () {
                //refresh grid
                updateTable('#catalogue-items-grid');

                //return false to don't reload a page
                return false;
            });
        });

</script>
    <button type="submit" id="btnRefresh" style="display: none"></button>
    <div class="card card-default">
        <div class="card-header">
            @T("Plugins.Widgets.CatalogueSlider.SliderItem.AddNewItem")
        </div>
        <div class="card-body">
            @*<script>
                        $(document).ready(function() {
                            $('#addItemPicture').click(function() {
                                var pictureId = $("#@Html.IdFor(model => model.PictureId)").val();
                                var sliderId = $("#@Html.IdFor(model => model.Id)").val();
                                var displayOrder = $("#@Html.IdFor(model => model.DisplayOrder)").val();

                                if (pictureId == 0) {
                                    $("#addSlidePictureAlert").click();
                                    return;
                                }

                                $('#addItemPicture').attr('disabled', true);

                                var postData = {
                                    pictureId: pictureId,
                                    displayOrder: displayOrder,
                                    sliderId: '@Model.Id'
                                };
                                addAntiForgeryToken(postData);


                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("SliderItemCreate", "CatalogueSlider"))",
                                    data: postData,
                                    success: function (data, textStatus, jqXHR) {
                                        if (!data.Result) {
                                            return;
                                        }
                                        updateTable('#catalogue-items-grid');
                                        pictureId = 0;
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $("#productPictureAddAlert").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        $('#addItemPicture').attr('disabled', false);
                                    }
                                });
                            });
                        });
                </script>*@
            <div class="form-group row">

                <div class="col-md-9">
                    <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@(Url.Action("SliderItemCreate", "CatalogueSlider", new { Area = "Admin", Model.Id,  btnId = "btnRefresh", formId = "catalogue-slider-form" }))', 800, 400, true);return false;" class="btn btn-primary">
                        @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.AddNew")
                    </button>
                </div>
            </div>

            @*<div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="@Model.DisplayOrder" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplayOrder" />
                        <span asp-validation-for="DisplayOrder"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="button" id="addItemPicture" class="btn btn-primary">@T("Plugins.Widgets.CatalogueSlider.Pictures.AddButton")</button>
                    </div>
                </div>*@
        </div>
    </div>
</div>





























@*

    <div class="card-body">
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "pictures-grid",
            UrlRead = new DataUrl("SliderItemList", "CatalogueSlider", new RouteValueDictionary { [nameof(Model.Id)] = Model.Id }),
            ColumnCollection = new List<ColumnProperty>
    {
                        new ColumnProperty(nameof(Model.PictureUrl))
                        {
                            Title = T("Admin.Catalog.Products.Pictures.Fields.Picture").Text,
                            Render = new RenderCustom("renderPicturesColumnProductPictureUrl")
                        }
                    }
        })

        <script>
            function renderPicturesColumnProductPictureUrl(data, type, row, meta) {
                console.log(row);
                return '<a href="' + row.PictureUrl + '" target="_blank"><img alt="' + row.PictureId + '" src="' + row.PictureUrl + '" width="150" /></a>';
            }
        </script>

        <div class="card card-default">
            <div class="card-header">
                @T("Admin.Catalog.Products.Pictures.AddNew")
            </div>
            <div class="card-body">
                <script>
                        $(document).ready(function() {
                            $('#addProductPicture').click(function() {
                                var pictureId = $("#@Html.IdFor(model => model.PictureId)").val();
                                var displayOrder = $("#@Html.IdFor(model => model.DisplayOrder)").val();

                                if (pictureId == 0) {
                                    $("#addProductPictureAlert").click();
                                    return;
                                }

                                $('#addProductPicture').attr('disabled', true);

                                var postData = {
                                    pictureId: pictureId,
                                    displayOrder: displayOrder,
                                    sliderId: @Model.Id
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("SliderItemCreate", "CatalogueSlider"))",
                                    data: postData,
                                    success: function (data, textStatus, jqXHR) {
                                        if (!data.Result) {
                                            return;
                                        }
                                        updateTable('#productpictures-grid');
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $("#productPictureAddAlert").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        $('#addProductPicture').attr('disabled', false);
                                    }
                                });
                            });
                        });
                </script>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="PictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PictureId" />
                        <span asp-validation-for="PictureId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="DisplayOrder" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplayOrder" />
                        <span asp-validation-for="DisplayOrder"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="button" id="addProductPicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                    </div>
                </div>
            </div>
        </div>

    </div>*@
