﻿@model SliderModel
@inject IJsonHelper Json
@Html.HiddenFor(x => x.EntityStringIds)
@Html.HiddenFor(x => x.Id)
<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" asp-required="true" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="CatalogTypeIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="CatalogTypeIds" asp-items="@Model.CatalogTypeList" asp-multiple="true" />

        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="@Model.EntityIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="EntityIds" asp-items="Model.CategoryList" asp-multiple="true" />
        </div>
    </div>
    <span asp-validation-for="EntityIds"></span>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="@Model.WidgetZoneIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="WidgetZoneIds" asp-items="Model.WidgetZoneItems" asp-multiple="true" />
        </div>
    </div>
    <span asp-validation-for="WidgetZoneIds"></span>

    <script asp-location="Footer">
        let editablepage = $('#@Html.IdFor(model => model.Id)').val() > 0 ? true : false;
        $(document).ready(function () {
            var saveCatalogType = $('#@Html.IdFor(model => model.CatalogTypeIds)').data("kendoMultiSelect");
            saveCatalogType.setOptions({
                autoClose: false,
                filter: "contains"
            });

            //if (editablepage) {
                var selected = [];
                $('#@Html.IdFor(model => model.CatalogTypeIds) :selected').each(function () {
                    selected.push($(this).val());
                });
            console.log(selected);
            editablepage = selected.length > 0 ? true : false;
            if (editablepage) {
                catalogChange(selected);
                @*let catText = $('#@Html.IdFor(model => model.CatalogTypeIds) option:selected').val();
                console.log(catText);*@

            }
            $('#@Html.IdFor(model => model.CatalogTypeIds)').change(function (e) {
                let selected = $(e.target).val();
                //console.dir(selected);
                catalogChange(selected);
            });

            $('#@Html.IdFor(model => model.EntityIds)').change(function (e) {
                var data = [];
                var $el = $('#@Html.IdFor(model => model.EntityIds)');
                $el.find('option:selected').each(function () {
                    //data.push({ value: $(this).val() });
                    data.push( $(this).val());
                });
                //console.log(data);
                //console.log(data.join(','));
                $('#@Html.IdFor(model => model.EntityStringIds)').val(data.join(','));
            });

        });

                //$('body').on('DOMSubtreeModified', '#CatalogTypeIds_taglist', function () {
                //    console.log($('#CatalogTypeIds_taglist').html());
                //});



        var firstTime = true;
         function catalogChange(catText) {
             if (catText != null) {
                 if (firstTime) {
                     getWidgetZoneFilter(catText);
                     getCatalogs(catText);
                     $.when(getWidgetZoneFilter(catText)).then(function (response, textStatus, jqXHR) {
                         getCatalogs(catText);
                     });
                     firstTime = false;
                 }
                 else {
                     getCatalogs(catText); getWidgetZoneFilter(catText);
                 }
             }
        }
        function getCatalogs(catText) {
        var postData = {
            'filters': catText
        };
        var url = "@Url.Action("GetCatalogs", "CatalogueSlider", new { Area = "Admin" })";
        $.ajax({
            cache: false,
            type: "GET",
            traditional: true,
            url: url,
            data: postData,
            contentType: "application/json",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

            function successFunc(data) {
               let select = $('#@Html.IdFor(model => model.EntityIds)');
                select.empty();
                let entityStringIds = [];

                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        'value': itemData.Value,
                        'text': itemData.Text
                    }));
                });
                multiselectEntityId(data)
            }
        }

        function getWidgetZoneFilter(catText) {
            var url = "@Url.Action("GetWidgetWithFilter", "CatalogueSlider", new { Area = "Admin" })";

            var postData = { 'filters': catText };
            $.ajax({
                cache: false,
                type: "GET",
                //contentType: 'application/json; charset=utf-8',
                traditional: true,
                data: postData,
                url: url,
                datatype: JSON,
                //data: JSON.stringify(postData),
                success: successWidgetFunc,
                error: errorFunc
            });

            function successWidgetFunc(data) {
                let select = $('#@Html.IdFor(model => model.WidgetZoneIds)');
                select.empty();
                //let h = '';
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                multiselectWidgetId(data);
            }


        }
        function errorFunc() {
            // alert('error');
        }
        function multiselectEntityId(d) {
             var savedEntityIds = $('#@Html.IdFor(model => model.EntityIds)').data("kendoMultiSelect");
                            savedEntityIds.setOptions({
                                autoClose: false,
                                filter: "contains"
                            });
                let obj = {};
            obj.catalog = [];
            if (editablepage) {
                    let entityString = $('#@Html.IdFor(model => model.EntityStringIds)').val();
                    entityStringIds = entityString.split(',');
            }

            $.each(d, function (key, value) {
                obj.catalog.push({ "text": value.Text, "value": value.Value });

            });
            savedEntityIds.setDataSource(obj);

            if (editablepage) {
                savedEntityIds.value(entityStringIds);
                //if (jQuery.inArray(value.Value, entityStringIds) !== -1) {
                //}
            }

            savedEntityIds.refresh();
            }

    function multiselectWidgetId(d) {
        var savedWidgetZone = $('#@Html.IdFor(model => model.WidgetZoneIds)').data("kendoMultiSelect");
                                            savedWidgetZone.setOptions({
                                            autoClose: false,
                                            filter: "contains"
                                            });
        let obj = {};
        obj.widget = [];
        $.each(d, function (key, value) {
            obj.widget.push({ "text": value.Text, "value": value.Value });
        });
        savedWidgetZone.setDataSource(obj);



        if (editablepage) {
             let widgetZoneIds = @Json.Serialize(Model.WidgetZoneIds);
                let w = [];
                for (var i = 0; i < widgetZoneIds.length; i++) {
                    w.push(widgetZoneIds[i].toString());
            }
            savedWidgetZone.value(w);
        }
        savedWidgetZone.refresh();
    }
    </script>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="@Model.TimeInterval" />
        </div>
        <div class="col-md-6">
            <nop-editor asp-for="TimeInterval" />
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="@Model.IsActive" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IsActive" />
            <span asp-validation-for="IsActive"></span>
        </div>
    </div>
    <div class="form-group row @(Model.StartTime.HasValue ? "advanced-setting" : null)">
        <div class="col-md-3">
            <nop-label asp-for="StartTime" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StartTime" />
            <span asp-validation-for="StartTime"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EndTime" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EndTime" />
            <span asp-validation-for="EndTime"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SelectedCustomerRoleIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SelectedCustomerRoleIds" asp-items="@Model.AvailableCustomerRoles" asp-multiple="true" />
            <script type="text/javascript">
                    $(document).ready(function () {
                        var saveUserRole = $('#@Html.IdFor(model => model.SelectedCustomerRoleIds)').data("kendoMultiSelect");
                        saveUserRole.setOptions({
                            autoClose: false,
                            filter: "contains"
                        });
                    });
            </script>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SelectedStoreIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SelectedStoreIds" asp-items="@Model.AvailableStores" asp-multiple="true" />
            <script type="text/javascript">
                    $(document).ready(function () {
                        var saveStore = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                        saveStore.setOptions({
                            autoClose: false,
                            filter: "contains"
                        });
                    });
            </script>
        </div>
    </div>
</div>
@*<div class="col-md-9 offset-md-3">
        <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@(Url.Action("SliderEntityPopup", "Product", new { productAttributeMappingId = Model.Id, btnId = "btnRefresh", formId = "productattribute-form" }))', 800, 750, true);return false;" class="btn btn-primary">
            @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.AddNew")
        </button>
    </div>*@