﻿@model SliderModel
@{

    const string hideInfoBlockAttributeName = "ProductPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hidePicturesBlockAttributeName = "ProductPage.HidePicturesBlock";
    var hidePicturesBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hidePicturesBlockAttributeName);
}

<div asp-catalogue-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            @*<div class="row">
                <div class="col-md-12 clearfix">
                    <div class="float-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "vendor-advanced-mode" })
                    </div>
                </div>
            </div>*@

            <nop-cards id="catalogue-cards">

                <nop-card asp-name="product-info" asp-icon="fas fa-info" asp-title="@T("Plugins.Widgets.CatalogueSlider.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
                    @await Html.PartialAsync("~/Plugins/Widgets.CatalogueSlider/Areas/Admin/Views/CatalogueSlider/_CreateOrUpdate.Info.cshtml", Model)
                </nop-card>
            
                @if (Model.Id > 0)
                {
                    <nop-card asp-name="product-pictures" asp-icon="far fa-images" asp-title="@T("Plugins.Widgets.CatalogueSlider.Items")" asp-hide-block-attribute-name="@hidePicturesBlockAttributeName" asp-hide="@hidePicturesBlock" asp-advanced="false">
                        @await Html.PartialAsync("~/Plugins/Widgets.CatalogueSlider/Areas/Admin/Views/CatalogueSlider/_CreateOrUpdate.Items.cshtml", Model)
                    </nop-card>
                }
            </nop-cards>
        </div>
    </div>
</section>
