﻿@model SliderItemModel
<div class="card card-default">
    <input asp-for="SliderId" value="@Model.SliderId" type="hidden" />
    <div class="card-header">
        @T("Plugins.Widgets.CatalogueSlider.SliderItem.AddNewItem")
    </div>
    <div class="card-body">
        @*<script>$(document).ready(function() {
                        $('#addItemPicture').click(function() {
                            var pictureId = $("#@Html.IdFor(model => model.PictureId)").val();
                            var mPictureId = $("#@Html.IdFor(model => model.MobilePictureId)").val();
                            var sliderId = $("#@Html.IdFor(model => model.SliderId)").val();
                            var displayOrder = $("#@Html.IdFor(model => model.DisplayOrder)").val();

                            if (pictureId == 0) {
                                $("#addSlidePictureAlert").click();
                                return;
                            }

                            $('#addItemPicture').attr('disabled', true);

                            var postData = {
                                pictureId: pictureId,
                                displayOrder: displayOrder,
                                sliderId: sliderId, //'@Model.Id',
                                mobilePictureId: mPictureId
                            };
                            addAntiForgeryToken(postData);


                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("SliderItemCreate", "CatalogueSlider"))",
                                data: postData,
                                success: function (data, textStatus, jqXHR) {
                                    if (!data.Result) {
                                        return;
                                    }
                                    //updateTable('#catalogue-items-grid');
                                    pictureId = 0;
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $("#productPictureAddAlert").click();
                                },
                                complete: function (jqXHR, textStatus) {
                                    $('#addItemPicture').attr('disabled', false);
                                }
                            });
                        });
                    });</script>*@
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.PictureId" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PictureId" />
                <span asp-validation-for="PictureId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.MobilePictureId" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="MobilePictureId" />
                <span asp-validation-for="MobilePictureId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.DisplayOrder" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                @*<button type="button" id="addItemPicture" class="btn btn-primary">@T("Plugins.Widgets.CatalogueSlider.Pictures.AddButton")</button>*@
            </div>
        </div>
    </div>
</div>

<nop-alert asp-alert-id="addSlidePictureAlert" asp-alert-message="@T(" Plugins.Widgets.CatalogueSlider.Pictures.Alert.AddNew")" />
<nop-alert asp-alert-id="productPictureAddAlert" asp-alert-message="@T(" Plugins.Widgets.CatalogueSlider.Pictures.Alert.PictureAdd")" />