﻿@model ConfigurationModel

@{
    ViewBag.PageTitle = T("Plugins.Widgets.CatalogueSlider.Configuration").Text;
    Html.SetActiveMenuItemSystemName("CatalogueSliderSettings");
}

<form asp-controller="CatalogueSlider" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Widgets.CatalogueSlider.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @*@await Component.InvokeAsync("StoreScopeConfiguration")*@
                <div asp-validation-summary="All"></div>
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    @*<nop-override-store-checkbox asp-for="EnableSlider_OverrideForStore" asp-input="EnableSlider" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                    <nop-label asp-for="EnableSlider" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnableSlider" />
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="SelectedWidgetZonesIds" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="SelectedWidgetZonesIds" asp-items="Model.AllWidgetZones" asp-multiple="true" />
                                </div>
                            </div>


                            <script type="text/javascript">
                                $(document).ready(function () {
                                    var savedZones = $('#@Html.IdFor(model => model.SelectedWidgetZonesIds)').data("kendoMultiSelect");
                                    savedZones.setOptions({
                                    autoClose: false,
                                    filter: "contains"
                                });

                                @if (Model.AllWidgetZones.Count == 0)
                                {
                                    <text>
                                    savedZones.setOptions({
                                        enable: false,
                                        placeholder: '@T("No Field Available Right Now")'
                                    });
                                    savedZones._placeholder();
                                    savedZones._enable();
                                    </text>
                                }
                            });
                            </script>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
