﻿@model SliderModel
@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.PageTitle = T("Plugins.Widgets.CatalogueSlider.AddNew").Text;
    //active menu item (system name)
    //Html.SetActiveMenuItemSystemName("CatalogueSlider");
    Html.SetActiveMenuItemSystemName("CatalogueSlider");
}

<form asp-controller="CatalogueSlider" asp-action="Create" method="post" id="catalogue-slider-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Widgets.CatalogueSlider.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Widgets.CatalogueSlider.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>


    @await Html.PartialAsync("~/Plugins/Widgets.CatalogueSlider/Areas/Admin/Views/CatalogueSlider/_CreateOrUpdate.cshtml", Model)
</form>