﻿@model SliderModel

@{
    //page title
    ViewBag.PageTitle = T("Plugins.Widgets.CatalogueSlider.EditDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CatalogueSlider");
}

<form asp-controller="CatalogueSlider" asp-action="Edit" method="post" id="catalogue-slider-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Widgets.CatalogueSlider.EditDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Widgets.CatalogueSlider.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @*<button type="button" id="slider-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </button>*@
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.CatalogueSlider/Areas/Admin/Views/CatalogueSlider/_CreateOrUpdate.cshtml", Model)
</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="slider-delete" asp-action="Delete" />