﻿@model SliderSearchModel

@{ //page title
    ViewBag.PageTitle = T("Admin.Catalog.CatalogueSlider").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CatalogueSlider");
    const string hideSearchBlockAttributeName = "CategoryPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
 }

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Widgets.CatalogueSlider")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
        <nop-action-confirmation asp-button-id="delete-selected" />
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">

                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                @*<div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-4">
                    <nop-label asp-for="SearchCategoryName" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="SearchCategoryName" />
                </div>
            </div>
            <div class="form-group row" @(Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-4">
                    <nop-label asp-for="SearchStoreId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                </div>
            </div>
        </div>*@
          <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-4">
                    <nop-label asp-for="SearchActiveId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="SearchActiveId" asp-items="Model.AvailableActiveOptions" />
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
                            </div>
                                <div class="form-group row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-sliders" class="btn btn-primary btn-search"><i class="fas fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        <p>
                            @*@T("Admin.Catalog.Attributes.CheckoutAttributes.Description")*@
                            @*<nop-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.CheckoutAttributes", Docs.CheckoutAttributes + Utm.OnAdmin)" asp-add-wrapper="false" />*@
                        </p>
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "catalogue-grid",
                       UrlRead = new DataUrl("List", "CatalogueSlider", null),
                       SearchButtonId = "search-sliders",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                            {
                                //new FilterParameter(nameof(Model.SearchCategoryName)),
                                //new FilterParameter(nameof(Model.SearchStoreId)),
                                new FilterParameter(nameof(Model.SearchActiveId))
                            },
                       ColumnCollection = new List<ColumnProperty>
                                   {
                            new ColumnProperty(nameof(SliderModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_catalogueslide"),
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Width = "50"
                            },
                            new ColumnProperty(nameof(SliderModel.Name))
                            {
                                Title = T("Plugins.Widgets.CatalogueSlider.Fields.Name").Text
                            },
                            //new ColumnProperty(nameof(SliderModel.WidgetZonePublicName))
                            //{
                            //    Title = T("Plugins.Widgets.CatalogueSlider.Fields.WidgetZonePublicName").Text
                            //},
                            new ColumnProperty(nameof(SliderModel.TimeIntervalString))
                            {
                                Title = T("Plugins.Widgets.CatalogueSlider.Fields.TimeInterval").Text
                            },
                            //new ColumnProperty(nameof(SliderModel.EntityName))
                            //{
                            //    Title = T("Plugins.Widgets.CatalogueSlider.Fields.SpecificationName").Text
                            //},
                            new ColumnProperty(nameof(SliderModel.IsActive))
                            {
                                Title = T("Plugins.Widgets.CatalogueSlider.Fields.IsActive").Text,
                                Width = "150",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean(),
                                Editable = true,
                                EditType = EditType.Checkbox
                            },
                            new ColumnProperty(nameof(SliderModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                   })

                        <script>
                    $(document).ready(function () {
                        $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                            var postData = {
                                selectedIds: selectedIds
                            };
                            addAntiForgeryToken(postData);
                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("Delete", "CatalogueSlider"))",
                                data: postData,
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $('#deleteSelectedFailed-info').text(errorThrown);
                                    $('#deleteSelectedFailed').click();
                                },
                                complete: function (jqXHR, textStatus) {
                                    updateTable('#catalogue-grid');
                                }
                            });
                            $('#delete-selected-action-confirmation').modal('toggle');
                            return false;
                        });
                    });
                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







