﻿@model SliderItemModel

@{ Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Plugins.Widgets.CatalogueSlider.SliderItem.AddNewItem").Text; }

    <form asp-controller="CatalogueSlider" asp-action="SliderItemCreate"
        asp-route-btnId="@Context.Request.Query["btnId"]"
        asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Widgets.CatalogueSlider.SliderItem.AddNewItem")
        </h1>
        <div class="float-right">
            @*<button type="button" id="addItemPicture" class="btn btn-primary">@T("Admin.Common.Save")</button>*@
            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Html.PartialAsync("~/Plugins/Widgets.CatalogueSlider/Areas/Admin/Views/CatalogueSlider/_PictureUpload.cshtml", Model)
        </div>
    </div>
    </form>





    @*<form asp-controller="CatalogueSlider" asp-action="ProductAttributeValueCreatePopup"
              asp-route-productAttributeMappingId="@Context.Request.Query["productAttributeMappingId"]"
              asp-route-btnId="@Context.Request.Query["btnId"]"
              asp-route-formId="@Context.Request.Query["formId"]">
            <div class="content-header clearfix">
                <h1 class="float-left">
                    @T("Admin.Catalog.Products.ProductAttributes.Attributes.Values.AddNew")
                </h1>
                <div class="float-right">
                    <button type="submit" name="save" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        @T("Admin.Common.Save")
                    </button>
                </div>
            </div>
            @await Html.PartialAsync("_CreateOrUpdateProductAttributeValue", Model)
        </form>*@
