.CatalogueSlider_slider {
    margin: 0 auto;
    max-width: 940px;
}

.CatalogueSlider_slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.CatalogueSlider_slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.CatalogueSlider_slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.CatalogueSlider_slide:first-child {
    display: block;
}
.CatalogueSlider_responsive {
    width: 100%;
    height: 100%; /*auto;*/
}

/*.CatalogueSlider_btn a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}*/

/*.CatalogueSlider_slide_btn.active, .CatalogueSlider_slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}*/

.CatalogueSlider_directional_nav {
    /* height: auto;*/ /*340px;*/
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -170px;
}

.CatalogueSlider_previous_btn {
    bottom: 0;
    left: 50px;
    margin: auto;
    position: absolute;
    top: 0;
}

.CatalogueSlider_next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 50px;
    top: 0;
}

.CatalogueSlider_previous_btn, .CatalogueSlider_next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.CatalogueSlider_previous_btn:hover, .CatalogueSlider_next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .CatalogueSlider_previous_btn {
        left: 50px;
    }
    .CatalogueSlider_next_btn {
        right: 50px;
    }
}